@charset ""UTF-8"";

/* *
 * Theme Name:		Chipwreck
 * Theme URI:		http://www.chipwreck.de/blog
 * Description:	Chipwreck theme
 * Version:		1.3 
 * 
 * Author:			Mario Fischer
 * Author URI:		http://www.chipwreck.de/
   ================================================== */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,abbr,acronym,address,big,cite,code,del,em,font,img,small,strong,sub,sup,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	margin:0;
	padding:0;
	font-size:101%;
	font-weight:inherit;
	font-style:inherit;
	font-variant:inherit;
	background:-moz-linear-gradient(top,#e8e8e8,#fefefe);
	border:0;
	font-family:inherit;
	outline:0;
	text-shadow:1px 1px #ccc
}

body b {
	width:90px
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight:400;
	font-style:normal
}

b {
	font-weight:400
}

body {
	color:#efefe9;
	background:#333 url('images/bg-stripes2.png') repeat 0 0;
	font:12px/16px "lucida grande","trebuchet ms",verdana,helvetica,sans-serif
}

body.blubb {
	width:90px
}